<component name="ArtifactManager">
  <artifact type="war" name="Springboot-learn:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboottest.war">
      <element id="artifact" artifact-name="Springboot-learn:war exploded" />
    </root>
  </artifact>
</component>