<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.springboot.controller.dao.CityMapper">
    <resultMap id="cityMap" type="City">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="getCityById" parameterType="City" resultMap="cityMap">
        select * from city where id = #{id}
    </select>
</mapper>